.form {
  display: flex;
}
.input {
  flex: 10;
  padding: 5px;
}
.submit {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  flex: 1;
}
.submit:hover {
  background: #666;
}
